.info{
    background-color: #FBE9E9;
}
.info .container{
    width: 1200px;
    margin: auto;
    padding-top: 150px;
    overflow: hidden;
}
.info .container .pic-group{
    width: 500px;
    float:left; 
    padding: 20px;
}
.info .container .bigpic img{
    border: 1px ;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
}
.info .container .smallpic {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.info .container .smallpic .pic-s{
    width: 30%;
    border: 1px ;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}
.info .container .smallpic img{
    width: 100%;
    vertical-align: middle;
}
.info .container .text-group{
    float: right; 
    width: 627px;
}
.info .container .text-group .title{
    font-size: 30px;
    color: #644713;
    letter-spacing: 2px;
    padding-bottom: 30px;
}
.info .container .text-group .work span{
    display: block;
    color: #4F0000;
    letter-spacing: 1px;
    line-height: 20px;
    padding-bottom: 15px;
}
.info .container .text-group .work span + span{
    border-bottom: 1px solid #4F0000;
}
.info .container .text-group .food{
    display: block;
    color: #4F0000;
    letter-spacing: 1px;
    line-height: 30px;
    border-bottom: 1.5px solid #4F0000;
    padding: 15px 0;
}
.info .container .text-group .shop{
    color: #4F0000;
    display: flex;
}
.info .container .text-group .shop .item{
    display: flex;
    flex-direction: column;
    line-height: 60px;
    padding: 20px 0;
    letter-spacing: 1px;
}
.info .container .text-group .shop .choose{
    display: flex;
    flex-direction: column;
    line-height: 50px;
    padding: 20px 0;
    letter-spacing: 1px;
    padding-left: 70px ;
    font-size: 14px;
}
.info .container .text-group .shop .choose > span{
    border: 1px solid #4F0000;
    border-radius: 50px;
    padding: 0px 15px;
    margin-bottom: 8px;
}
.info .container .price span{
    display: block;
    color: #4F0000;
    border-top: 1.5px solid#4F0000;
    padding: 15px 0 20px 0;
}
.info .container .price .big{
    font-size: 18px;
    color: #4F0000;
    letter-spacing: 1px;
}
.info .container .botton{
    display: flex;
    font-size: 18px;
    justify-content: space-evenly;
    padding: 50px 0 80px 0;
}
.info .container .botton .buy{
    border:1px solid #4F0000;
    padding: 6px 20px;
    border-radius: 50px;
}
.info .container .botton .car{
    border:1px solid #4F0000;
    padding: 6px 30px;
    border-radius: 50px;
}
.problem{
    background-color: #F4C9C9;
}
.problem .container{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 20px;
}
.problem .container .title{
    font-size: 32px;
    color: #4F0000;
    letter-spacing: 1px;
    text-align: center;
    padding: 70px 0px;
}
.problem .container .qa-card{
    display: block;
    width: 900px;
    position: relative;
    border-radius: 50px;
}
.problem .container .qa-card .question{
    display: block;
    font-size: 18px;
    padding: 20px 20px;
    letter-spacing: 1px;
    background-color: #ffffff;
    border-bottom: 1px solid #4f4f4f;
    cursor: pointer;
}
.problem .container .qa-card .answer{
    display: block;
    font-size: 18px;
    padding: 20px 20px;
    letter-spacing: 1px;
    background-color: #FBE9E9;
    line-height: 30px;
    display: none;
}
.problem .container .qa-card .pic{
    width: 36px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.problem .container .qa-card .pic img{
    width: 100%;
}
option{
    background-color: #ffefef;
    border: none; 
    cursor: pointer;
    text-align: center;
    font-size: 14px; 
}
select {
    padding: 10px; 
    border: 1px solid #717171; 
    border-radius: 20px; 
    background-color: #ffffff; 
    width: 160px; 
    margin-left: 30px;
    text-align: start;
}
input[type="date"] {
    padding: 7px; 
    font-size: 16px; 
    border: 1px solid #717171; 
    text-decoration: none;
    border-radius: 20px; 
    background-color: #fff; 
    width: 144px;
    margin-left: 35px;
}
.botton input[type="button"] {
    padding: 10px 20px; 
    font-size: 14px; 
    border: none; 
    border-radius: 20px; 
    cursor: pointer;
    border: 1px solid #717171; 
    background-color: #fff; 
    text-decoration: none;
}



@media screen and (max-width: 768px) {
    .info .container{
        margin: auto;
        width: 62.5%;
        padding-top: 60px;
        overflow:unset;
    }
    .info .container .pic-group{
        width: 100%;
        float: none;
        margin:  0 auto;
        padding: 0;
    }
    .info .container .bigpic{
        width: 100%;
        border: 1px ;
        border-radius: 50px;
        cursor: pointer;
    }
    .info .container .bigpic img{
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
    .info .container .smallpic {
        width: 100%;
        display: flex;
        padding: 40px 0;
    }
    .info .container .smallpic img{
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
        border: 1px ;
        border-radius: 20px;
        cursor: pointer;
    }
    .info .container .text-group{
        float: none; 
        width: 480px;
    }
    .info .container .text-group .title{
        font-size: 24px;
        color: #644713;
        letter-spacing: 2px;
        padding-bottom: 30px;
    }
    .info .container .text-group .work span{
        display: block;
        color: #4F0000;
        letter-spacing: 1px;
        line-height: 20px;
        padding-bottom: 15px;
    }
    .info .container .text-group .work span + span{
        border-bottom: 1px solid #4F0000;
    }
    .info .container .text-group .food{
        display: block;
        color: #4F0000;
        letter-spacing: 1px;
        line-height: 30px;
        border-bottom: 1px solid #4F0000;
        padding: 15px 0;
    }
    .info .container .text-group .shop{
        color: #4F0000;
        display: flex;
    }
    .info .container .text-group .shop .item{
        display: flex;
        flex-direction: column;
        line-height: 60px;
        padding: 20px 0;
        letter-spacing: 1px;
    }
    .info .container .text-group .shop .choose{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        letter-spacing: 1px;
        padding-left: 80px ;
        font-size: 14px;
    }
    .info .container .text-group .shop .choose > span{
        border: 1px solid #4F0000;
        border-radius: 50px;
        padding: 0px 15px;
        margin-bottom: 8px;
    }
    .info .container .price span{
        display: block;
        color: #4F0000;
        border-top: 1px solid#4F0000;
        padding: 20px 0 20px 0;
    }
    .info .container .price .big{
        font-size: 18px;
        color: #4F0000;
        letter-spacing: 1px;
    }
    .info .container .botton{
        display: flex;
        font-size: 18px;
        justify-content: space-evenly;
        padding: 50px 0 80px 0;
    }
    .info .container .botton .buy{
        border:1px solid #4F0000;
        padding: 6px 20px;
        border-radius: 50px;
    }
    .info .container .botton .car{
        border:1px solid #4F0000;
        padding: 6px 30px;
        border-radius: 50px;
    }
    .problem{
        background-color: #F4C9C9;
    }
    .problem .container{
        width: 480px;
        margin: 0 auto;
        padding: 40px 0;
    }
    .problem .container .title{
        font-size: 32px;
        color: #4F0000;
        letter-spacing: 1px;
        text-align: center;
        padding: 50px 0px;
    }
    .problem .container .answer span{
        display: block;
        letter-spacing: 1px;
        line-height: 45px;
    }
    option{
        background-color: #ffefef;
        border: none; 
        cursor: pointer;
        text-align: center;
        font-size: 10px; 
    }
    select {
        padding: 10px; 
        border: 1px solid #757575; 
        border-radius: 20px; 
        background-color: #ffffff; 
        width: 170px; 
        text-align: center;
        margin-left: 30px;
    }
    input[type="date"] {
        width: 154px;
        border: 1px solid #757575; 
        text-decoration: none;

    }
    .botton input[type="button"] {
        padding: 10px px; 
        font-size: 14px; 
        border-radius: 20px; 
        cursor: pointer;
        border: 1px solid #757575; 
        background-color: #fff; 
        text-decoration: none;
    }
    .problem{
        background-color: #F4C9C9;
    }
    .problem .container{
        width: 660px;
        margin: 0 auto;
        padding-bottom: 90px;
        padding-top: 20px;
        text-decoration: none;

    }
    .problem .container .title{
        font-size: 32px;
        color: #4F0000;
        letter-spacing: 1px;
        text-align: center;
        padding: 70px 0px;
    }
    .problem .container .qa-card{
        display: block;
        width: 660px;
        position: relative;
    }
    .problem .container .qa-card .question{
        display: block;
        font-size: 18px;
        padding: 20px 20px;
        letter-spacing: 1px;
        background-color: #FFFFFF;
    }
    .problem .container .qa-card .answer{
        display: block;
        font-size: 18px;
        padding: 20px 20px;
        letter-spacing: 1px;
        background-color: #FBE9E9;
        line-height: 30px;
    }
    .problem .container .qa-card .pic{
        width: 36px;
        position: absolute;
        top: 10px;
        right: 14px;
        cursor: pointer;
    }
    .problem .container .qa-card .pic img{
        width: 100%;
    }
}
@media screen and (max-width: 430px) {
    .info .container{
        margin: auto;
        width: 75%;
        padding-top: 60px;
        overflow:unset;
    }
    .info .container .pic-group{
        width: 100%;
        float: none;
        margin:  0 auto;
        padding: 0;
    }
    .info .container .bigpic{
        width: 100%;
        border: 1px ;
        border-radius: 50px;
        cursor: pointer;
    }
    .info .container .bigpic img{
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
    }
    .info .container .smallpic {
        width: 100%;
        display: flex;
        padding: 30px 0;
        gap: 20px;
    }
    .info .container .smallpic img{
        width: 100%;
        vertical-align: middle;
        object-fit: cover;
        padding-left: 2px;
        border: 1px ;
        border-radius: 20px;
        cursor: pointer;
    }
    .info .container .text-group{
        float: none; 
        width: 280px;
    }
    .info .container .text-group .title{
        font-size: 18px;
        color: #644713;
        letter-spacing: 1px;
        padding-bottom: 30px;
    }
    .info .container .text-group .work span{
        font-size: 12px;
        display: block;
        color: #4F0000;
        letter-spacing: 1px;
        line-height: 10px;
        padding-bottom: 15px;
    }
    .info .container .text-group .work span + span{
        border-bottom: 1px solid #4F0000;
    }
    .info .container .text-group .food{
        display: block;
        font-size: 12px;
        color: #4F0000;
        line-height: 24px;
        border-bottom: 1px solid #4F0000;
        padding: 15px 0;
    }
    .info .container .text-group .shop{
        color: #4F0000;
        display: flex;
    }
    .info .container .text-group .shop .item{
        display: flex;
        flex-direction: column;
        line-height: 50px;
        padding: 20px 0;
        letter-spacing: 1px;
    }
    .info .container .text-group .shop .choose{
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        letter-spacing: 1px;
        padding-left: 80px ;
        font-size: 12px;
    }
    .info .container .text-group .shop .choose > span{
        border: 1px solid #4F0000;
        border-radius: 50px;
        padding: 0px 15px;
        margin-bottom: 8px;
    }
    .info .container .price span{
        display: block;
        color: #4F0000;
        border-top: 1px solid#4F0000;
        padding: 20px 0 20px 0;
        font-size: 12px;
    }
    .info .container .price .big{
        font-size: 16px;
        color: #4F0000;
        letter-spacing: 1px;
    }
    .info .container .botton{
        display: flex;
        font-size: 16px;
        justify-content: space-evenly;
        padding: 50px 0 80px 0;
    }
    .info .container .botton .buy{
        border:1px solid #4F0000;
        padding: 6px 20px;
        border-radius: 50px;
    }
    .info .container .botton .car{
        border:1px solid #4F0000;
        padding: 6px 30px;
        border-radius: 50px;
    }
    .problem{
        background-color: #F4C9C9;
    }
    .problem .container{
        width: 480px;
        margin: 0 auto;
        padding: 40px 0;
    }
    .problem .container .title{
        font-size: 32px;
        color: #4F0000;
        letter-spacing: 1px;
        text-align: center;
        padding: 50px 0px;
    }
    .problem .container .answer span{
        display: block;
        letter-spacing: 1px;
        line-height: 45px;
    }
    option{
        background-color: #ffefef;
        border: none; 
        cursor: pointer;
        text-align: center;
        font-size: 10px; 
    }
    select {
        padding: 6px;
        border: 1px solid #757575; 
        border-radius: 20px; 
        background-color: #ffffff; 
        width: 133px; 
        text-align: center;
    }
    input[type="date"] {
        width: 120px;
        border: 1px solid #757575; 
        font-size: 12px;
        text-align: center;
        padding: 6px;
    }
    .botton input[type="button"] {
        padding: 10px px; 
        font-size: 14px; 
        border-radius: 20px; 
        cursor: pointer;
        border: 1px solid #757575; 
        background-color: #fff; 
    }
    .problem{
        background-color: #F4C9C9;
    }
    .problem .container{
        width: 320px;
        margin: 0 auto;
        padding-bottom: 90px;
        padding-top: 8px;
    }
    .problem .container .title{
        font-size: 20px;
        color: #4F0000;
        letter-spacing: 1px;
        text-align: center;
        padding:30px 0px;
    }
    .problem .container .qa-card{
        display: block;
        width: 320px;
        position: relative;
    }
    .problem .container .qa-card .question{
        display: block;
        font-size: 12px;
        padding: 8px 10px;
        letter-spacing: 1px;
        background-color: #FFFFFF;
        line-height: 22px;
    }
    .problem .container .qa-card .answer{
        display: block;
        font-size: 12px;
        padding: 8px 10px;
        letter-spacing: 1px;
        background-color: #FBE9E9;
        line-height: 22px;
    }
    .problem .container .qa-card .pic{
        width: 26px;
        position: absolute;
        top: 6px;
        right: 6px;
        cursor: pointer;
    }
    .problem .container .qa-card .pic img{
        width: 100%;
    }
}
